<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444324850388-vhqc7t192otqq07av7lsde614stv0dkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444324850388-vhqc7t192otqq07av7lsde614stv0dkl</string>
	<key>API_KEY</key>
	<string>AIzaSyDuG8g0HoSOQSpU5e6BreyDBudxDbTgAqg</string>
	<key>GCM_SENDER_ID</key>
	<string>444324850388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notsapp</string>
	<key>PROJECT_ID</key>
	<string>notsapp-b1d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>notsapp-b1d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444324850388:ios:3a06987ec7d7307c892941</string>
</dict>
</plist>